<main class="blog">
  <div class="blog_container">
    <div class="blog_main">
      <img class="blog_main-image"></img>
      <div class="blog_title_box">
        <h1 class="border-line top-50">h1h1h1h1h1h1h1h1h1h1h1h1h1h1</h1>
        <div class="blog_title_box_bottom">
          <p class="blog_date">2018-03-16</p>
          <p class="blog_tag">インフラ</p>
        </div>
      </div>
      <div class="blog_contents">
        <h2 class="border-line top-35">h2h2h2h2h2h2h2</h2>
        <h3>h3h3h3h3h3h3h3</h3>
        <p>pppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppp</p>
        <div class="scroll">
          <table>
            <tbody>
              <tr>
                <td>
                  td1
                </td>
                <th>
                  th1
                </th>
              </tr>
              <tr>
                <td>
                  td2
                </td>
                <th>
                  th2
                </th>
              </tr>
              <tr>
                <td>
                  td3
                </td>
                <th>
                  th3
                </th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="blog-right">
      <div class="blog-right-box">
        <div class="blog-right-title new-article">
          <p>最新記事</p>
        </div>
        <div class="contents">
          <div class="box">
            <p>タイトルタイトルタイトルタイトルタイトルタイトルタイトル</p>
            <img src="" alt="">
          </div>
          <div class="box">
            <p>タイトルタイトルタイトル</p>
            <img src="" alt="">
          </div>
          <div class="box">
            <p>タイトルタイトルタイトル</p>
            <img src="" alt="">
          </div>
          <div class="box">
            <p>タイトルタイトルタイトル</p>
            <img src="" alt="">
          </div>
          <div class="box">
            <p>タイトルタイトルタイトル</p>
            <img src="" alt="">
          </div>
          <div class="box">
            <p>タイトルタイトルタイトル</p>
            <img src="" alt="">
          </div>
          <div class="box">
            <p>タイトルタイトルタイトル</p>
            <img src="" alt="">
          </div>
          <div class="contents-bottom">
            <a href="">もっと見る</a>
          </div>
      </div>
      <div class="blog-twitter"></div>
    </div>

    <div class="blog-right-box">
      <div class="blog-right-title twitter">
        <p>Twitter</p>
      </div>
      <div class="contents"></div>
    </div>
  </div>
</main>
