<main class="blog">
  <div class="blog_container">
    <div class="blog_main card round">
      <img class="blog_main-image"></img>
      <div class="blog_title_box"> 
        <h1 class="border-line top-55">h1h1h1h1h1h1h1</h1>
        <div class="blog_title_box_bottom">
          <p class="blog_date">2018-03-16</p>
          <p class="blog_tag">インフラ</p>
        </div>
      </div>
      <div class="blog_contents">
        <h2 class="border-line top-35">h2h2h2h2h2h2h2</h2>
        <h3>h3h3h3h3h3h3h3</h3>
        <div class="scroll"> 
          <table>
            <tbody>
              <tr>
                <td>
                  td1
                </td>
                <th>
                  yh1
                </th>
              </tr>
              <tr>
                <td>
                  td2
                </td>
                <th>
                  yh2
                </th>
              </tr>
              <tr>
                <td>
                  td3
                </td>
                <th>
                  yh3
                </th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div> 

    <!-- <div class="blog_right"> 
      <div class="blog_new_architect">
        <p class="blog_new_architect_title">最新記事</p>
      </div>
    </div> -->
  </div>
</main>