<main class="blog">
  <div class="blog_container">
    <div class="blog_main">
      <img class="blog_main-image"></img>
      <div class="blog_title_box"> 
        <h1><span>h1h1h1h1h1h1h1</span></h1>
        <div class="blog_under-bar"></div> 
        <div class="blog_title_box_bottom">
          <p class="blog_date">2018-03-16</p>
          <p class="blog_tag">インフラ</p>
        </div>
      </div>
      <div class="blog_contents">
        <h2><span>h2h2h2h2h2h2h2</span></h2>
        <div class="blog_under-bar"></div>
        <h3>h3h3h3h3h3h3h3</h3>
        <div class="scroll"> 
          <table>
            <tbody>
              <tr>
                <td>
                  td1
                </td>
                <th>
                  yh1
                </th>
              </tr>
              <tr>
                <td>
                  td2
                </td>
                <th>
                  yh2
                </th>
              </tr>
              <tr>
                <td>
                  td3
                </td>
                <th>
                  yh3
                </th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>  
  </div>
</main>