<header class="header">
  <div class="logo-container">
    <p>OthloTech</p>
  </div>
  <nav>
    <ul>
      <li>Home</li>
      <li>Events</li>
      <li>Blog</li>
      <li>About</li>
      <li>Contact</li>
    </ul>
  </nav>
</header>
