//antialiased,subpixel-antialiased,none
$font-smoothing: antialiased;

//auto,optimizeSpeed,optimizeLegibility,geometricPrecision
$text-rendering: auto;

// font-family
$base-font-family: "Source Han Sans","游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
$othlo-font-family:  "Titillium Web", sans-serif;

// width
$content-max-width: 960px;
$screen-change-width: 780px;

// fotn-size
$base-font-size: 16px;

/*---------------
  color
---------------*/
$base-font-color: #333;
$white-font-color: #fff;

// background-color
$base-background-color: #fff;
$black-background-color: #333;

// main color
$base-main-color: #5ABC98;
$base-sub-color: #C3E5F0;
$label-primary: #eb847a;
$label-extra: #A0BCC5;

$anchor-font-color: #0375c5;
