/*
#colors

// font color
@$color-primary: #FF6A5C;
@$color-accent: #004E66;
@$color-primary-light: #004E66;
@$color-white: #fff;
@$color-black: #333;
@$color-black-light: #616161;

*/

$color-primary: #FF6A5C;
$color-accent: #004E66;
$color-primary-light: #004E66;
$color-white: #fff;
$color-black: #333;
$color-black-light: #616161;
