.blog{
  width: 100vw;
  background-color: #ECEFF1;

  .blog_container{
    width: 1130px;
    padding: 50px 0 100px;
    margin: 0 auto;

    @media (max-width: 1130px) and (min-width: 768px){
      width: 80%;
    }

    @media (max-width: 767px){
      width: 90%;
      padding: 25px 0 50px;
    }

    .blog_main{
      display: inline-block;
      border-radius: 16px;
      width: 800px;
      overflow:hidden;
      clear: left;

      @media (max-width: 1130px) and (min-width: 768px){
        width: 100%;
      }

      @media (max-width: 767px){
        width: 100%;
      }

      .blog_main-image{
      	width: 100%;
      	height: 420px;

        @media (max-width: 767px){
          height: 200px;
        }
      }

      .blog_title_box{
        width: 100%;
        height: 120px;
        background-color: #333;
        padding: 20px 0px;
      }

      .blog_title_box_bottom{
        display: flex;
        margin-top: 10px;
        padding: 10px 0;

        .blog_date{
          color: #fff;
          margin-left: 60px;
          font-size: 14px;
        }

        .blog_tag{
          width: 70px;
          height: 20px;
          border-radius: 5px;
          background-color: #999;
          font-size: 12px;
          color: #fff;
          text-align: center;
          margin-left: 10px;
        }
      }

      .blog_contents{
        padding: 50px;
        background-color: #fff;

        @media (max-width: 767px){
          padding: 20px;
        }
      }
    }


    .blog-right{
      width: 300px;
      float: right;

      @media (max-width: 1130px) and (min-width: 768px){
        float: none;
        width: 100%;
        margin-top: 30px;
      }

      @media (max-width: 767px){
        float: none;
        width: 100%;
        margin-top: 30px;
      }

      .blog-right-box{
        width: 100%;
        border-radius: 16px;
        background-color: #fff;
        overflow:hidden;
        margin-bottom: 50px;

        .blog-right-title{
          width: 100%;
          height: 40px;

          &.new-article{
            background: linear-gradient(0deg, rgba(244,92,67,1.0) 0%, rgba(235,51,73, 1.0) 100%);
          }

          &.twitter{
            background: linear-gradient(0deg, rgba(54,209,220,1.0) 0%,  rgba(85,172,238,1.0) 100%);
          }

          p{
            color: #fff;
            font-size: 14px;
            padding-left: 20px;
            padding-top: 10px;
          }
        }

        .contents{
          width: 100%;
          height: 100%;
          padding: 15px 25px;

          @media (max-width: 1130px) and (min-width: 768px){
            display: flex;
            flex-wrap: wrap;
            padding: 15px 5%;
          }

          .box{
            width: 100%;
            height: 80px;
            background-color: #fff;
            padding: 5px 0;
            margin-bottom: 10px;

            @media (max-width: 1130px) and (min-width: 768px){
              display: inline-block;
              width: 50%;
              padding: 5px 10px;
            }

            &:hover{
              background-color: #eeeeee;
              transition: 0.3s;
            }

            p{
              display: inline-block;
              font-size: 14px;
              width: 60%;
              vertical-align: top;
            }

            img{
              display: inline-block;
              width: 30%;
              height: 100%;
              margin-left: 10px;
              vertical-align: middle;
            }
          }

          .contents-bottom{
            width: 100%;
            text-align: center;

            a{
              display: inline-block;
              color: #000;
              text-decoration: underline;
              padding-top: 10px;
              font-size: 14px;
            }
          }
        }
      }
    }

  }
}
