.blog{
  background-color: #ECEFF1;

  .blog_container{
    width: 1130px;
    padding: 50px 0 100px;
    margin: 0 auto;

    .blog_main{
      display: inline-block;
      border-radius: 16px;
      width: 800px;
      overflow:hidden;
      clear: left;

      .blog_title_box{
        width: 100%;
        height: 120px;
        background-color: #333;
        padding: 20px 0px;
      }

      .blog_title_box_bottom{
        display: flex;
        margin-top: 10px;
        padding: 10px 0;

        .blog_date{
          color: #fff;
          margin-left: 60px;
          font-size: 14px;
        }

        .blog_tag{
          width: 70px;
          height: 20px;
          border-radius: 5px;
          background-color: #999;
          font-size: 12px;
          color: #fff;
          text-align: center;
          margin-left: 10px;
        }
      }

      .blog_contents{
        padding: 50px;
        background-color: #fff;
      }

    }


    .blog-right{
      width: 300px;
      float: right;

      .blog-right-box{
        width: 100%;
        border-radius: 16px;
        background-color: #fff;
        overflow:hidden;
        margin-bottom: 50px;

        .blog-right-title{
          width: 100%;
          height: 40px;

          &.new-article{
            background: linear-gradient(0deg, rgba(244,92,67,1.0) 0%, rgba(235,51,73, 1.0) 100%);
          }

          &.twitter{
            background: linear-gradient(0deg, rgba(54,209,220,1.0) 0%,  rgba(85,172,238,1.0) 100%);
          }

          p{
            color: #fff;
            font-size: 14px;
            padding-left: 20px;
            padding-top: 10px;
          }
        }

        .contents{
          width: 100%;
          height: 100%;
          padding: 15px 25px;

          .box{
            width: 100%;
            height: 80px;
            background-color: #fff;
            padding: 15px 0;
            margin-bottom: 10px;

            p{
              display: inline-block;
              font-size: 14px;
              width: 150px;
              vertical-align: middle;
            }

            img{
              display: inline-block;
              width: 80px;
              height: 50px;
              margin-left: 10px;
              vertical-align: middle;
            }
          }

          .contents-bottom{
            width: 100%;
            text-align: center;

            a{
              display: inline-block;
              color: #000;
              text-decoration: underline;
              padding-top: 10px;
              font-size: 14px;
            }
          }
        }
      }
    }

  }
}
