#top {
  .mv-container {
    position: relative;
    width: 100vw;
    height: calc(100vh - 80px);
    background-image: url(../images/main-background.png);
    background-size: cover;
    background-position: center center;
  }

  .event-container {
    padding: 32px 0;

    .event-list {
      padding: 40px 80px;

      li {
        display: flex;
        justify-content: left;
        margin-bottom: 40px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .blog-container {
    padding: 32px 0;

    .blog-list {
      padding: 20px 0;

      li {
        display: flex;
        justify-content: left;
        align-items: center;
        margin-bottom: 20px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .about-container {
    background-color: $black-background-color;
    padding: 40px 0;

    h3 {
      width: 40%;
      margin: 0 30% 40px;
      display: block;
      padding: 0 40px 0;
      border-bottom: 2px solid $white-font-color;
    }

    .about-lead{
      padding: 0 80px;
    }

    .about-btn {
      width: 44%;
      margin-left: 28%;
    }
  }
}
