/*
#styleguide
Button

ボタン類全部

```
// default
<div class="btn default">
  <a>default</a>
</div>

// white
<div class="btn white">
  <a>default</a>
</div>

// btn-twin
```
*/

.btn-container {
  &.twin {
    display: flex;
    justify-content: space-between;
  }
}

.btn {
  box-sizing: border-box;
  width: 170px;
  height: 52px;
  line-height: 52px;
  border-radius: 4px;

  &.default {
    background-color: $base-background-color;
    color: $base-font-color;
    border: 1px solid $base-font-color;

    &:hover {
      background-color: $black-background-color;
      color: $white-font-color;
    }
  }

  &.white {
    background-color: $black-background-color;
    color: $white-font-color;
    border: 1px solid $white-font-color;

    &:hover {
      background-color: $base-background-color;
      color: $base-font-color;
    }
  }

  a {
    text-decoration: none;
    text-align: center;
    display: block;
    width: 100%;
    height: 100%;
  }
}
