/*
#styleguide
card

カード類全部

```
<div class="card default">
  This is default card
</div>
```
*/

.card {
  padding: 20px;
  border-radius: 4px;

  &.default {
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);
    transition: 0.15s;

    &:hover {
      box-shadow: 0 4px 16px 0 rgba(0,0,0,0.2);
    }
  }
}
