/*
#styleguide
card

カード類全部

```
<div class="card default">
  This is default card
</div>
```
*/

.card {
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);

  &.default {
    padding: 20px;
    transition: 0.3s;

  	&:hover {
  	  box-shadow: 0 4px 16px 0 rgba(0,0,0,0.2);
  	}
  }

  &.round {
    padding: 0;
    border-radius: 16px;
  }

  &.round {
    padding: 0;
    border-radius: 16px;
  }
}
