.footer {
  padding: 20px 0;
  background-color: #000;
  color: $white-font-color;

  .c {
    line-height: 54px;
  }

  .footer-container {
    display: flex;
    justify-content: space-between;

    .sns-container {
      span {
        a {
          color: $white-font-color;
        }
      }
    }
  }
}
