/*
#styleguide
Text

```
// text-align
<p class="text-center" style="border-bottom: 1px solid #eee">中央寄せ</p>
<p class="text-left" style="border-bottom: 1px solid #eee">左寄せ</p>
<p class="text-right" style="border-bottom: 1px solid #eee">右寄せ</p>

// text-size
<p class="text-xsmall">text-xsmall(10px)</p>
<p class="text-small">text-small(12px)</p>
<p class="text-middle">text-middle(16px)</p>
<p class="text-large">text-large(20px)</p>
<p class="text-xlarge">text-xlarge(24px)</p>
<p class="text-xxlarge">text-xxxlarge(36px)</p>
<p class="text-xxxlarge">text-xxlarge(18px)</p>

// color
<p class="text-black" style="padding: 10px;">black</p>
<p class="text-white" style="padding: 10px; background-color: #333">white</p>

// decoration
<p class="text-strong">text-strong</p>
<p class="text-underline">text-underline</p>
```
*/

/* text-align */
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

/* text-size */
.text-xsmall {
  font-size: 10px;
}

.text-small {
  font-size: 12px;
}

.text-middle {
  font-size: 16px;
}

.text-large {
  font-size: 20px;
}

.text-xlarge {
  font-size: 24px;
}

.text-xxlarge {
  font-size: 36px;
}

.text-xxxlarge {
  font-size: 48px;
}

/* color */
.text-black {
  color: $base-font-color;
}

.text-white {
  color: $white-font-color;
}

/* decoration */
.text-strong {
  font-weight: bold;
}

.text-underline {
  text-decoration: underline;
}
