/*
#styleguide
Text

```
<p class="text-center" style="border-bottom: 1px solid #eee">中央寄せ</p>
<p class="text-left" style="border-bottom: 1px solid #eee">左寄せ</p>
<p class="text-right" style="border-bottom: 1px solid #eee">右寄せ</p>

<p class="font-xsmall">font-xsmall</p>
<p class="font-small">font-small</p>
<p class="font-middle">font-middle</p>
<p class="font-large">font-large</p>
<p class="font-xlarge">font-xlarge</p>
<p class="font-xxlarge">font-xxlarge</p>
<p class="font-xxxlarge">font-xxlarge</p>

```
*/

/* text-align */
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

/* font-size */
.font-xsmall {
  font-size: 10px;
}

.font-small {
  font-size: 12px;
}

.font-middle {
  font-size: 16px;
}

.font-large {
  font-size: 20px;
}

.font-xlarge {
  font-size: 24px;
}

.font-xxlarge {
  font-size: 36px;
}

.font-xxxlarge {
  font-size: 48px;
}
