.u-margin-bottom {
  &-xsmall {
    margin-bottom: 5px !important;
  }

  &-small {
    margin-bottom: 10px !important;
  }

  &-medium {
    margin-bottom: 15px !important;
  }

  &-large {
    margin-bottom: 20px !important;
  }

  &-xlarge {
    margin-bottom: 25px !important;
  }

  &-xxlarge {
    margin-bottom: 30px !important;
  }
}

.u-margin-right {
  &-xsmall {
    margin-right: 5px !important;
  }

  &-small {
    margin-right: 10px !important;
  }

  &-medium {
    margin-right: 15px !important;
  }

  &-large {
    margin-right: 20px !important;
  }

  &-xlarge {
    margin-right: 25px !important;
  }
}
