.u-text {
  &-left {
    text-align: left !important;
  }

  &-center {
    text-align: center !important;
  }

  &-right {
    text-align: right !important;
  }

  &-size {
    &-xxxlarge {
      font-size: 18px;
    }

    &-xxlarge {
      font-size: 17px;
    }

    &-xlarge {
      font-size: 16px;
    }

    &-large {
      font-size: 15px;
    }

    &-medium {
      font-size: 14px;
    }

    &-small {
      font-size: 13px;
    }

    &-xsmall {
      font-size: 12px;
    }

    &-xxsmall {
      font-size: 11px;
    }
  }

  &-weight {
    &-strong {
      font-weight: bold;
    }

    &-normal {
      font-weight: normal;
    }
  }

  &-color {
    &-primary {
      color: $primary-color;
    }
  }

}
