.button {
  text-align: center;
  padding: 0 30px;

  a {
    display: block;
    width: 100%;
    height: 100%;
    color: $white-color !important;
  }

  &.default {
    line-height: 34px;
    height: 40px;
    border-radius: 22px;
    border: 4px solid $white-color;
    box-sizing: border-box;

    &:hover {
      // わからないので、適当
      opacity: 0.6;
    }
  }

  &.primary {
    line-height: 32px;
    height: 32px;
    border-radius: 16px;
    background-color: $primary-color;
    box-shadow: 2px 4px 16px $primary-color;

    &:hover {
      margin-top: 2px;
      box-shadow: 0 2px 12px $primary-color;
    }
  }
}
