topだよ
 <div class="l-bottom-medium" style="padding: 10px; background-color: #333">
   <div class="button default"><a href="#">1</a></div>
   <div class="button primary"><a href="#">1</a></div>
</div>
